.inner_content{
    width: 1400px;
    margin: 0 auto;

}
/* main_page */
.main_s4{
    /* padding-top: 200px; */
    height: 960px;
    text-align: center;
}
.main_s4 h3{
    font-size: 70px;
    font-weight: 800;
    font-family: 'di_font';
}
.main_s4>.inner_content>p{
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 700;
}
.main_s4_img{
    display: flex;
}
.main_s4_img li{
    margin-right: 20px;
    position: relative;
}
.main_s4_img li:last-of-type{
    margin-right: 0;
}
.main_s4_img p{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #FFF;
}
.main_s4_img li:hover {transform: scale(1.05, 1.05); transition-duration: 0.5s;}
/* main_s5 */
.main_s5{
    height: 960px;
    background: url(../img1/background.png) no-repeat 1% 97% / cover;
    color: #fff;
    font-size: 25px;
}
.main_s5>.inner_content{
    padding-top: 500px;
    width: 1400px;
    margin: 0 auto;
}
.main_s5 h3{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 15px;
}
.main_s5 p{
    margin-bottom: 30px;
}
.main_s5 span{
    padding: 15px;
    border: 1px solid #fff;
    width: 360px;
    display: block;
    text-align: center;
    transition: all 0.6s ease 0s;
}
.main_s5 span:hover{
    background: #fff;
    color: #444;
}
/* main_s6 */
.main_s6{
    height: 960px;
    background: url(../img1/background2.png) no-repeat 50% 50% /cover;
    position: relative;
}
.main_s6>.inner_content>h3{
    font-size:50px;
    font-weight: 800;
    color: #fff;
    padding-top: 80px;
}
.main_s6 .che .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
    font-size: 23px;
    display: flex;
  }

.main_s6 .che .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 550px;
    background: #000;
    color: #fff;
}
.main_s6 .che .swiper-slide h3{
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}
.main_s6 .che .swiper-slide div{
    padding: 30px;
}
.main_s6 .swiper-wrapper{
    margin-top: 50px;
}
.main_s6 .che .swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
.main_s6 .che .swiper-slide p:last-of-type{
    font-size: 16px;
    margin: 15px 0;
    z-index: 10;
}
.main_s6 .che .swiper-slide span{
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    font-size: 16px;
}
