@media (max-width: 768px){

*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{color:inherit;text-decoration:none;}
h1,h2,h3,h4,h5,h6{text-decoration:none;color:inherit;font-weight:inherit;}


.all{
    width: 100%;
    font-family: "Noto Sans KR", sans-serif;
}
.login_page{
    width: 100%;
    padding-bottom: 35%;
    position: relative;
    /* border: 1px solid red; */
}
.small_circle{
    background: #0B4BF0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    top: 9%;
}
.form_group{
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
    padding-top: 15%;
}
fieldset{
    display: flex;
    flex-direction:column;
    border:none;
}
.login_title{
    font-size: 45px;
    font-weight: 600;
    padding-top: 13%;
    margin-bottom: 10%;
}
.user_id{
    font-size: 20px;
    font-weight: 550;
    margin-top: 8%;
    margin-bottom: 3%;
    width: 57%;
}
#user_id{
    height: 50px;
    border-radius: 10px;
    padding-left: 3%;
    border: 1.5px solid black;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}
.user_pw{
    font-size: 20px;
    font-weight: 550;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 40%;
}
#user_pw{
    height: 50px;
    border-radius: 10px;
    padding-left: 3%;
    border: 1.5px solid black;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}
.bottom_group{
    width: 88%;
    justify-content: space-around;
    margin-bottom: 6%;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#user_agree{

}
.agree_desc{
    font-size:15px;
    font-weight: 550;
}
.find{
    font-size: 15px;
    font-weight: 550;
}

.login{
    background: #0B4BF0;
    color: #fff;
    height: 60px;
    font-size: 20px;
    font-weight: 550;
    border-radius: 10px;
    margin-bottom: 2%;
    border:none;
    width: 84%;
    margin: 0 auto;
}
.join{
    background: white;
    height: 60px;
    font-size: 20px;
    font-weight: 550;
    border-radius: 10px;
    width: 84%;
    margin: 0 auto;
    margin-top: 3%;
    border: 1px solid black;
    color: #000;
}


.left_one{
    background: #B7C8F4;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position:absolute;
    left: -3%;
    top: 38%;
}
.right_first{
    background: #0B4BF0;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: 58%;
}
.right_second{
    background: #B7C8F4;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -7%;
}


.wave_bg{
    object-fit: contain;
    width: 100%;
    /* position: absolute; */
    top: 56%;
}




footer{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 700px; */
    position: absolute;
    background: #000;
    color: #fff;
  }
  footer.inner_content{
    width: 1400px;
  }
  .foot_menu>ul{
    width: 100%;
    /* display: flex; */
  }
  .foot_menu>ul>li{
    flex: 1;
    padding-left: 10%;
    margin-bottom: 7%;
  }
  .line{
    height: 85px;
  }
  .foot_menu{
    padding-top: 3%;
    /* height: 300px; */
    border-bottom: 1px solid #adadad;
    border-top: 1px solid #adadad;
  }
  .foot_menu>ul>li>a{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom:2px solid #0B4BF0;
    font-size:20px;
  }
  .foot_menu>ul>li>ul{
    margin-top: 40px;
  }
  .foot_menu>ul>li>ul>li{
    margin-bottom: 15px;
  }
  .foot_menu>ul>li>ul>li>a{
    font-size: 16px;
    /* border: 1px solid yellow; */
    word-break: keep-all;
  }
  .foot_content{
      font-size: 14px;
      /* display: flex; */
      padding-top: 30px;
      justify-content: space-between;
      padding-left: 3%;
      width: 90%;
      /* border: 1px solid yellow; */
      margin: 0 auto;
  }
  .foot_logo{
    width: 80px;
    /* border: 1px solid yellow; */
    padding-top: 37px;
    padding-left: 8%;
    padding-bottom: 10%;
  }
  .foot_info>ul{
    /* display: flex; */
  }
  .foot_info>ul>li{
    margin-right: 20px;
  }
  .foot_info>ul>li>div{
    display: flex;
  }
  .foot_info p{
      /* border: 1px solid red; */
  }
  .foot_info img{
    width: 50px;
    margin-right: 15px;
  }
  .sns{
      width: 100px;
      padding-top: 13%;
      padding-bottom: 13%;
  }
  .sns ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sns img{
  width: 20px;
  margin-right: 13px;
  }
  .insta{
    width: 40px;
  }
  
  .inner_content{
  width: 100%;
  margin: 0 auto;
  
  }


}